﻿@model Task24.Models.Supervisor
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>AddSupervisorConfirmation</title>
</head>
<body>
    <div>
        @Model.Name has been added to the current supervisors as @Model.IsAvailable.ToString() <br />
        <a asp-action="AllSupervisors">View all supervisors</a>
    </div>
</body>
</html>
