﻿@model List<Task24.Models.Supervisor>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AllSupervisors</title>
</head>
<body>
    <h2>Supervisor List</h2>


    @foreach (Supervisor supervisor in Model)
    {
       
        // Put the supervisor name in seperate line
<ul>
    <li> @supervisor.Id</li>
    <li> @supervisor.Name</li>
    <li> @supervisor.IsAvailable</li>
    <li> @supervisor.Level</li>

</ul>
    }
</body>
</html>
