﻿@model Task24.Models.Supervisor

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="~/css/Style.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

    <title>SupervisorInfo</title>

</head>
<body>
    <div class="container">
        <form asp-action="SupervisorInfo" method="post">
            <div asp-validation-summary="All"></div>

            <div class="form-group">
                <label asp-for="Id">Supervisor Id: </label>
                <input asp-for="Id" class="form-control" />

            </div>
            <div class="form-group">

                <label asp-for="Name">Supervisor Name: </label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group ">

                <label asp-for="IsAvailable">Supervisor Availablity: </label>
                <select select class="form-control" asp-for="IsAvailable">
                    <option value="null">select</option>
                    <option value="true">Available</option>
                    <option value="false">Not Available "</option>
                </select>
            </div>
            <div class="form-group">

                <label asp-for="Level">Supervisor Level: </label>
                <input asp-for="Level" class="form-control" />
            </div>


            <button type="submit" class="btn btn-primary">Add</button>

        </form>
    </div>
</body>
</html>
